
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.header {
	padding: 20px 40px;

}

.menu {
	transition: width 0.3s linear;
	background-color: #0e1a35;
	float: left;
	overflow: hidden;
	height: 100%;
}

.logo {
	margin: 30px;
}
.menu-elems { 
	width: 100%;
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flex;
	display: -moz-flex;
	flex-direction: column;
	justify-content: space-around;

}
.menu-elem {
	padding: 40px 60px; 
	position: relative;
	color: #fff;
	text-decoration: none;

}


.menu-elem:hover {
	background-color: #122143;
}

.menu-elem:hover::before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 10px;
	min-height: 100%;
	background-color: #5584ff;
}

.home::after {
	content: '';
	position: absolute;
	top: 38px;
	left: 30px;
	width: 20px;
	height: 20px;
	background: url(../media/home.png);
	-webkit-background-size: cover;
	background-size: cover;

}
.settings::after{
	content: '';
	position: absolute;
	top: 38px;
	left: 30px;
	width: 20px;
	height: 20px;
	background: url(../media/settings.png);
	-webkit-background-size: cover;
	background-size: cover;

}

.container-main {
	float: right;
	transition: width 0.3s linear;
	overflow: hidden;
	position: relative;
}


.menu-icon {
	float: left;
	width: 25px;
	height: 30px;
	cursor: pointer;
	background: url(../media/menu-main.png);
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}

#menu-active {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 8px 5px 0;
	border-color: transparent #007bff transparent transparent;
	position: absolute;
	left: -15px;
	top: 10px;
	display: none;
}

.header-right {
	float: right;
	width: 400px;

	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flex;
	display: -moz-flex;
	justify-content: space-around;
}

.filter {
	width: 25px;
	height: 30px;
	background: url(../media/filter.png);
	-webkit-background-size: cover;
	background-size: cover;
	cursor: pointer;
	position: relative;
}

.filterSortMenu {
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flex;
	display: -moz-flex;
	flex-direction: column;
	justify-content: space-around;
	position: absolute;
	width: 150px;
	padding: 10px;
	border: 1px solid grey;
	background-color: #fff;
	border-radius: 5px;
	top: 40px;
	display: none;
}


.sort {
	width: 25px;
	height: 30px;
	background: url(../media/sort.png);
	-webkit-background-size: cover;
	background-size: cover;
	cursor: pointer;
}

.add-task {
	width:  140px;
	height: 30px;
	cursor: pointer;
	border-radius: 20px;
	border: none;
	background-color: #5584ff;
	color: #fff;
}


#profile {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: relative;
	cursor: pointer;
	background: url(../media/cat.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: -11px 0;
}

.profile-active {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 5px 0 5px;
	border-color: #0e1a35 transparent transparent transparent;
	position: absolute;
	left: 35px;
	top: 10px;
}

.profile-not-active {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5px 8px 5px;
	border-color: transparent transparent #0e1a35 transparent;
	position: absolute;
	left: 35px;
	top: 10px;
}

#profileMenu {
	list-style: none;
	position: absolute;
	left: -20px;
	width: 80px;
	top: 20px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid grey;
	border-radius: 5px;
	display: none;

}
#profileMenu li {
	padding: 5px;
}
.main {
	padding: 40px;
	padding-top: 10px;
	background-color: #f6f7fa;
}

.main h2 {
	font-size: 35px;
	margin-top: 50px;
}

.count-task {
	color: #aaa;
}

.task {
	padding: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #fff;
	border: 2px solid #e2e5ec;
	position: relative;
	margin-bottom: 20px;
	cursor: pointer;

	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flex;
	display: -moz-flex;
	justify-content: space-between;
	align-items: center;
}

.task-info {
	padding-left: 10px;
	position: absolute;
	right: 20px;
	top: 10px;

	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flex;
	display: -moz-flex;
	justify-content: space-between;
}

.priority {
	margin-right: 35px;
	position: relative;
}

.high-priority::before {
	content: '';
	width: 15px;
	height: 15px;
	transform: rotate(-90deg);
	position: absolute;
	left: -20px;
	background: url(../media/arrow.png);
	-webkit-background-size: cover;
	background-size: cover;
}

.low-priority::before {
	content: '';
	width: 15px;
	height: 15px;
	transform: rotate(90deg);
	position: absolute;
	left: -20px;
	background: url(../media/arrow.png);
	-webkit-background-size: cover;
	background-size: cover;
}

.date {
	color: #8593af;
	position: relative;
}

.date::before {
	content: '';
	width: 15px;
	height: 15px;
	background: url(../media/date.png);
	-webkit-background-size: cover;
	background-size: cover;
	position: absolute;
	left: -22px;
	top: 1px;
}

.task-completed {
	color: #44d059;
	position: relative;
}

.task-completed::before {
	content: '';
	width: 15px;
	height: 15px;
	background: url(../media/completed.png);
	position: absolute;
	-webkit-background-size: cover;
	background-size: cover;
	left: -20px;
	top: 1px;
}

.task-icon {
	min-width: 40px;
}
.icon-task-menu {
	min-width: 10px;
	cursor: pointer;
	position: relative;
}



.icon-task-menu {
	width: 10px;
	height: 30px;
	background: url(../media/icon-task-menu.png);
	-webkit-background-size: cover;
	background-size: cover;
}
.description-task {
	width: 90%;
	margin-left: 10px;
	margin-right: 10px;
}

.description-task p {
	color: #7d838f;
}


.task-menu {
	margin: 0;
	background-color: #fff;
	width: 80px;
	padding: 10px 20px;
	border: 1px solid grey;
	list-style: none;
	position: absolute;
	right: 40px;
	top: 30px;
	border-radius: 5px;
	display: none;
}

.task-menu li {
	padding: 10px;
	cursor: pointer;
	position: relative;
}

.compl {
	color: #44d059;
}

.del {
	color: #FF4040;
}

.task-menu li:hover {
	font-weight: bold;
}
.task-menu li:hover::after {
	content: '';
	position: absolute;
	bottom: 1px;
	width: 120px;
	left: -20px;
	height: 1px;
	background-color: #000;
}


@media screen and (max-width: 530px) {
	.header-right {
		flex-direction: column;
		align-items: center;
		height: 200px;
		width: 150px;
		margin: 0 auto;
		float: none
	}

	.sort {
		position: relative;
	}
	.filterSortMenu {
		left: -70px;
	}


}